.project_cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.italic{
  font-style: italic;
}

.text-warning{
  color: orange !important;
}

@media (max-width: 760px) {
  .project_cards {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 450px) {
  .project_cards {
    grid-template-columns: 1fr;
  }
}
