.home_division {
  display: flex;
}

.home_division_left {
  flex: 1;
  margin-right: 3rem;
}
.home_division_right {
  flex: 0.3;
}
.home_division_right_cards_wrapper > :first-child {
  margin-bottom: 50px;
}

.youtubeVideos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

@media (max-width: 1000px) {
  .home_division {
    flex-direction: column;
  }
  .home_division_left {
    margin-right: 0rem;
    margin-bottom: 3rem;
  }

  .home_division_right_cards_wrapper {
    display: flex;
    align-items: flex-start;
  }

  .home_division_right_cards_wrapper > :first-child {
    margin-bottom: 0px;
    margin-right: 1.5rem;
  }
}

@media (max-width: 600px) {
  .home_division_right_cards_wrapper {
    flex-direction: column;
    align-items: unset;
  }
  .home_division_right_cards_wrapper > :first-child {
    margin-right: 0rem;
    margin-bottom: 1rem;
  }

  .youtubeVideos {
    grid-template-columns: 1fr;
  }
}
