.navbar_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  background-color: transparent;
  width: 100%;
  transition: all 0.3s ease;
  z-index: 100000;
}

.container_wrapper {
  /* max-width: 1700px; */
  /* width: 90%; */
  /* margin: 0 auto; */
}

.navbar_wrapper.scrollHide {
  transform: translateY(-88px);
}

.navbar_wrapper.scrolled {
  background-color: #35313188;
}

.navbar_hamburger {
  display: none;
}

.navbar_wrapper.scrolled .navbar_hamburger {
  color: white !important;
}

.navbar {
  height: 88px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.logo {
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  width: 100%;
}

.navbar_links_wrapper {
  display: flex;
  align-items: center;
  /* height: 80px; */
  /* background-color: #262626; */
  transition: all 0.2s ease;
  /* margin-top: -80px; */
  /* border: 2px solid red; */
}

.navbar_wrapper.scrolled .navbar_links_wrapper {
  /* border-bottom: 1px solid rgba(212, 212, 212, 0.178); */
}

.navbar_links_wrapper.show {
  margin-top: 0;
}

.navbar_links {
  display: flex;
  align-items: center;
  /* border: 2px solid red; */
}

.navbar_links_left {
  display: flex;
  align-items: center;
  margin-right: 2rem;
}

.navbar_links_left .navbar_left_link {
  transition: all 0.2s ease;
  position: relative;
}

.navbar_links_left .navbar_left_link::before {
  content: "";
  position: absolute;
  top: 110%;
  left: 0;
  height: 2px;
  width: 0%;
  background-color: white;
  opacity: 0;
  transition: all 0.4s ease;
}

.navbar_links_left .navbar_left_link:hover::before {
  width: 100%;
  opacity: 1;
}
.navbar_left_link.nav_link_active {
  color: var(--yellow);
}

.navbar_left_link.nav_link_active::before {
  width: 100%;
  opacity: 1;
}

.navbar_links_left .navbar_left_link:hover {
  color: var(--yellow);
}

.navbar_links_left > :not(:last-child) {
  margin-right: 1.5rem;
}

.navbar_links_right {
  display: flex;
  align-items: center;
}

.navbar_links_right > :not(:last-child) {
  margin-right: 0.5rem;
}

.navbar_links_right a {
  transition: all 0.2s ease;
}
.navbar_links_right a:hover {
  color: white;
}

.cross_sidebar_icon {
  display: none;
}

@media (max-width: 1200px) {
  .navbar_links_left > :not(:last-child) {
    margin-right: 1rem;
  }

  .navbar_links_left {
    margin-right: 1rem;
  }
}

@media (max-width: 1000px) {
  .navbar_links_left > :not(:last-child) {
    margin-right: 1rem;
  }

  .navbar_links_right > :not(:last-child) {
    margin-right: 0.3rem;
  }

  .navbar {
    padding: 0 0rem;
  }
}

@media (max-width: 950px) {
  .navbar_links_wrapper {
    display: flex;
    flex-direction: column;
    align-items: unset;
    height: auto;
    position: fixed;
    top: 0;
    right: 0;
    width: 280px;
    height: 100%;
    justify-content: unset;
    margin-top: 0;
    transform: translateX(280px);
    z-index: 100000 !important;
    background-color: white;
  }

  .cross_sidebar_icon {
    color: black !important;
    fill: gray;
  }

  .navbar_links_wrapper.show {
    transform: translateX(0);
    margin-top: 0;
  }

  .navbar_links_wrapper .container_wrapper {
    flex: 1;
    height: 100%;
    width: 100%;
    max-width: 100%;
  }

  .navbar_links {
    flex-direction: column;
    align-items: unset;
    padding: 0 0;
    flex: 1;
    height: 100%;
    padding: 2rem;
    padding-top: 4rem;
  }

  .navbar_links_right {
    justify-content: center;
  }

  .navbar_links_left {
    margin-bottom: 1rem;
  }

  .navbar_links_left > :not(:last-child) {
    margin-right: 0rem;
    margin-bottom: 1rem;
  }

  .navbar_links_left {
    flex-direction: column;
    align-items: unset;
  }

  /* .navbar_wrapper.scrolled .navbar_links_wrapper {
    border-bottom: 1px solid red !important;
  } */

  .navbar_links_right > :not(:last-child) {
    margin-right: 1rem;
  }

  .navbar_left_link {
    width: fit-content;
    font-weight: 500;
  }

  .cross_sidebar_icon {
    display: block;
    position: absolute;
    top: 20px;
    left: 25px;
    cursor: pointer;
  }

  .navbar_links_right {
    margin-top: 1rem;
    justify-content: space-between;
  }

  .navbar_links_right a:hover {
    color: gray;
  }

  .navbar_hamburger {
    display: block;
  }
}

@media (max-width: 500px) {
  .logo {
    width: 60px;
  }
}
