.filterBy_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filterBy_wrapper > div:last-child {
  display: flex;
  align-items: center;
}

.filterBy_wrapper > div:last-child > :not(:last-child) {
  margin-right: 1rem;
}
