.getQuote {
  height: 100vh;
  background: url(../../assets/images/get-quote-bg.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 10;
}

.getQuote::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.59);
  z-index: -1;
}

.getQuote_wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.get_quote_form {
  background-size: cover;
  border-radius: 5px 5px 5px 5px;
  background-color: rgba(255, 255, 255, 0.21);
  border-width: 1px 1px 1px 1px;
  border-color: rgba(130, 130, 130, 0.71);
  border-style: solid;
  border-radius: 5px 5px 5px 5px;
  overflow: hidden;
  padding: 61px 50px;

  width: 561px;
}

.get_quote_form > div:not(:last-child) {
  margin-bottom: 1.1rem;
}

.get_quote_form_input {
  display: block;
  background-color: white;
  box-sizing: border-box;
  border-radius: 2px;
  border: 1px solid #d6d8d9;
  background-color: #fafafa;
  width: 100%;
  position: relative;
  height: 40px;
}

.get_quote_form_input select,
.get_quote_form_input input,
.get_quote_form_input textarea {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0.4rem 1.1rem;
  background-color: transparent;
  resize: none;
  color: #777 !important;

  border: none;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.get_quote_form_input input[type="email"] {
  background-image: url(../../assets/images/email-icon.png);
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: 97% 50%;
  padding-right: 50px;
}

.get_quote_form_input.required::before {
  content: "*";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -12px;
  color: red;
}

.get_quote_form_input select::placeholder,
.get_quote_form_input input::placeholder,
.get_quote_form_input textarea::placeholder {
  color: #777 !important;
}

.get_quote_form_input.textarea {
  height: 109px;
}

.get_quote_form_row {
  display: flex;
  align-items: center;
}

.get_quote_form_row > div {
  flex: 1;
}

.get_quote_form_row > div:first-child {
  margin-right: 1.3rem;
}

.get_quote_form button[type="submit"] {
  width: 100%;
  background: #000000;
  color: #fff;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
}
