@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.font-roboto {
  font-family: "Roboto", sans-serif;
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
}

:root {
  --fs-57px: 57px;
  --fs-52px: 52px;
  --fs-21px: 21px;
  --fs-25px: 25px;
  --fs-14px: 14px;
  --fs-14px: 14px;
  --fs-16px: 16px;
  --fs-18px: 18px;
  --fs-20px: 20px;
  --fs-30px: 30px;

  --fs-35px: 35px;
  --fs-40px: 40px;

  --fs-12px: 12px;
  --fs-10px: 10px;

  --yellow: #ffb83a;
  --yellow-2: #ffc107;
  --gray: #9a9b9c;
  --gray-2: #58595b;
  --darkest-red: #231f20;
}

.fs-40px {
  font-size: var(--fs-40px);
}
.fs-35px {
  font-size: var(--fs-35px);
}
.fs-57px {
  font-size: var(--fs-57px);
}
.fs-52px {
  font-size: var(--fs-52px);
}
.fs-21px {
  font-size: var(--fs-21px);
}
.fs-25px {
  font-size: var(--fs-25px);
}
.fs-14px {
  font-size: var(--fs-14px);
}
.fs-16px {
  font-size: var(--fs-16px);
}
.fs-18px {
  font-size: var(--fs-18px);
}
.fs-20px {
  font-size: var(--fs-20px);
}
.fs-30px {
  font-size: var(--fs-30px);
}
.fs-12px {
  font-size: var(--fs-12px);
}
.fs-10px {
  font-size: var(--fs-10px);
}

.lh-35px {
  line-height: 35px;
}
.lh-1 {
  line-height: 1;
}

/* COLORS */
.white {
  color: white;
}
.black {
  color: black;
}
.gray {
  color: var(--gray);
}
.gray-2 {
  color: var(--gray-2);
}
.darkest-red {
  color: var(--darkest-red);
}

/* font-weights */
.weight-9 {
  font-weight: 900;
}
.weight-8 {
  font-weight: 800;
}
.weight-7 {
  font-weight: 700;
}
.weight-6 {
  font-weight: 600;
}
.weight-5 {
  font-weight: 500;
}
.weight-4 {
  font-weight: 400;
}
.weight-3 {
  font-weight: 300;
}
.weight-2 {
  font-weight: 200;
}

/* margins */
.mb-5px {
  margin-bottom: 5px;
}
.mb-10px {
  margin-bottom: 10px;
}
.mb-15px {
  margin-bottom: 15px;
}
.mb-20px {
  margin-bottom: 20px;
}
.mb-25px {
  margin-bottom: clamp(5px, 1.7361111111111112vw, 25px);
}
.mb-30px {
  margin-bottom: clamp(18px, 2.0833333333333335vw, 30px);
}
.mb-35px {
  margin-bottom: 35px;
}
.mb-40px {
  margin-bottom: 40px;
}
.mb-45px {
  margin-bottom: 45px;
}
.mb-50px {
  margin-bottom: clamp(20px, 3.4722222222222223vw, 50px);
}
.mb-55px {
  margin-bottom: 55px;
}
.mb-60px {
  margin-bottom: clamp(40px, 4.166666666666667vw, 60px);
}
.mb-70px {
  margin-bottom: clamp(40px, 4.861111111111111vw, 70px);
}
.mb-75px {
  margin-bottom: clamp(35px, 5.208333333333333vw, 75px);
}
.mb-80px {
  margin-bottom: 80px;
}
.mb-100px {
  margin-bottom: clamp(40px, 6.944444444444445vw, 100px);
}
.mb-150px {
  margin-bottom: clamp(80px, 10.416666666666666vw, 150px);
}

.margin-center {
  margin: 0 auto;
}
.mt-88px {
  margin-top: 88px;
}
.mt-100px {
  margin-top: 100px;
}
.mt-110px {
  margin-top: 110px;
}
.mt-120px {
  margin-top: 120px;
}

/* paddings */
.py-30px {
  padding-top: 30px;
  padding-bottom: 30px;
}
.py-50px {
  padding-top: 50px;
  padding-bottom: 50px;
}
.py-70px {
  padding-top: 70px;
  padding-bottom: 70px;
}
.py-100px {
  padding-top: clamp(50px, 6.944444444444445vw, 100px);
  padding-bottom: clamp(50px, 6.944444444444445vw, 100px);
}
.py-200px {
  padding-top: clamp(50px, 13.88888888888889vw, 200px);
  padding-bottom: clamp(50px, 13.88888888888889vw, 200px);
}
.pt-88px {
  padding-top: 88px;
}

/*  */

.container-wrapper {
  max-width: 1700px;
  width: 90%;
  margin: 0 auto;
}
.container-wrapper-2 {
  max-width: 1700px;
  width: 83%;
  margin: 0 auto;
}

.uppercase {
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: white;
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.w-fit-content {
  width: fit-content;
}

.pointer {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
}

input {
  border: none;
  outline: none;
  background-color: transparent;
}

.relative {
  position: relative;
}

.italic {
  font-style: italic;
}

.title {
  border-bottom: 2px solid #fed03d;
  width: fit-content;
  /* margin: 0 auto; */
  padding-bottom: 0.8rem;
}

.title_wrapper {
  max-width: 850px;
  margin: 0 auto;
}

select {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNiIgaGVpZ2h0PSIxMiIgdmlld0JveD0iMCAwIDYgMTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHRpdGxlPnNlbGVjdC0tYXJyb3dzPC90aXRsZT48cGF0aCBkPSJNMS4xNDIgOC42ODNMMi4zMSA5Ljc1cy4zNS4zOC42OS4zOGMuMzQgMCAuNjg5LS4zNzkuNjg5LS4zNzlsMS4xNjktMS4wNjhhLjY5LjY5IDAgMCAxIC45NDMuMDA2LjYyLjYyIDAgMCAxIC4wMDYuOTA1TDMuNDcgMTEuODE3QS42NzEuNjcxIDAgMCAxIDMgMTJhLjY3MS42NzEgMCAwIDEtLjQ2OS0uMTgzTC4xOTMgOS41OTRhLjYyLjYyIDAgMCAxIC4wMDYtLjkwNS42OS42OSAwIDAgMSAuOTQzLS4wMDZ6bTAtNS4zNjZBLjY5LjY5IDAgMCAxIC4yIDMuMzExYS42Mi42MiAwIDAgMS0uMDA2LS45MDVMMi41My4xODNBLjY3MS42NzEgMCAwIDEgMyAwYy4xNzEgMCAuMzQxLjA2LjQ2OS4xODNsMi4zMzggMi4yMjNhLjYyLjYyIDAgMCAxLS4wMDYuOTA1LjY5LjY5IDAgMCAxLS45NDMuMDA2TDMuNjg4IDIuMjVTMy4zNCAxLjg3IDMgMS44N2MtLjM0IDAtLjY5LjM4LS42OS4zOEwxLjE0MiAzLjMxN3oiIGZpbGw9IiM1MjVGN0YiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==);
  background-repeat: no-repeat;
  background-size: 6px;
  background-position: right 1.2em top 55%;

  border: none;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.simple-select {
  width: 250px;
  border: 2px solid gray;
  padding: 0.4rem 1rem;
  border-radius: 3px;
}

.custom-underline {
  border-bottom: 1px solid var(--gray-2);
}

.youtube_video {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;

  /* OR */

  /* width: 100%;
  height: 42vw;  */
}

.youtube_video_thumbnail {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  object-fit: cover;
}

.blogs_and_news_slider .swiper-slide {
  flex: 1 !important;
  height: auto !important;
}

@media (max-width: 1200px) {
  :root {
    --fs-12px: 10px;
    --fs-10px: 10px;
  }
}
@media (max-width: 1050px) {
  :root {
    --fs-18px: 16px;

    --fs-12px: 10px;
    --fs-10px: 10px;
  }
}
@media (max-width: 1000px) {
  :root {
    --fs-57px: 47px;
    --fs-52px: 35px;
    --fs-21px: 16px;
    --fs-25px: 18px;
    --fs-14px: 14px;
    --fs-14px: 14px;
    --fs-16px: 16px;
    --fs-20px: 20px;
    --fs-30px: 30px;

    --fs-40px: 30px;
  }
}
@media (max-width: 760px) {
  :root {
    --fs-57px: 37px;
    --fs-52px: 30px;
    --fs-21px: 16px;
    --fs-25px: 16px;
    --fs-14px: 14px;
    --fs-14px: 14px;
    --fs-16px: 16px;
    --fs-20px: 16px;
    --fs-30px: 20px;
  }
}

@media (max-width: 500px) {
  :root {
    --fs-57px: 27px;
    --fs-16px: 14px;
  }

  .mt-120px {
    margin-top: 100px;
  }
}
@media (max-width: 350px) {
  :root {
    --fs-57px: 23px;
  }
}
