.aboutus_details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 70%;
}

.aboutus_details > div:not(:last-child) {
  margin-right: 1rem;
}

.aboutus_details > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutus_details > div > :first-child {
  margin-bottom: 0.7rem;
}

.aboutus_section {
  display: flex;
}

.aboutus_section_left {
  flex: 1;
  margin-right: 5rem;
}
.aboutus_section_right {
  flex: 1;

  display: flex;
  flex-direction: column;
}

.mapboxgl-ctrl-bottom-left {
  display: none;
}
.mapboxgl-ctrl-bottom-right {
  display: none;
}

.about_map_wrapper {
  aspect-ratio: 1/0.7 !important;
}

@media (max-width: 1000px) {
  .aboutus_section {
    display: flex;
    flex-direction: column;
  }

  .aboutus_section_left {
    flex: 1;
    margin-right: 0rem;
    margin-bottom: 3rem;
  }
  .about_map_wrapper {
    height: 500px;
  }
}

@media (max-width: 600px) {
  .about_map_wrapper {
    height: 350px;
  }

  .aboutus_details {
    margin-top: 3rem;
    width: 100%;
  }

  .aboutus_details > div > :first-child {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 500px) {
  .about_map_wrapper {
    height: 300px;
  }
}
@media (max-width: 400px) {
  .about_map_wrapper {
    height: 250px;
  }
}
