.footerTop_wrapper {
  padding: 16px 0;
}

.footerTop {
  display: grid;
  grid-template-columns: 200px 1fr 150px;
}

.footerTop > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footerTop > div:first-child a {
  width: fit-content;
  padding: 0.8rem 1rem;
  background-color: #000;
}

.footer_social_icons {
  display: flex;
  align-items: center;
  flex: 1;
}

.footer_social_icons > :not(:last-child) {
  margin-right: 1rem;
}

.footer_social_icons > a {
  color: var(--darkest-red);
  cursor: pointer;
}

.footer_social_icons > a:hover {
  color: #888;
}

.footerTop > div:last-child {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: row;
}
.backToTop_btn {
  width: fit-content;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.backToTop_btn:hover p {
  font-weight: 700;
}

.backToTop_btn p {
  margin-right: 0.5rem;
}

.footerBottom_wrapper {
  background: #000;
  padding: 18px 0;
}
.footerBottom {
  display: grid;
  grid-template-columns: 1fr auto;
  /* border: 2px solid red; */
  gap: 1rem;
}

.footerBottom > div {
  /* border: 2px solid blue; */
}

.footer_bottom_link > div {
  display: flex;
  /* border: 2px solid pink; */
  flex-wrap: wrap;
}

.footerBottom div {
  /* display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap; */
}

.footerBottom div:first-child {
  margin-bottom: 0.2rem;
}

.footerBottom p:not(:last-child),
.footerBottom a:not(:last-child) {
  /* border: 2px solid red; */
  margin-right: 1.5rem;
}

.footerBottom a:hover {
  color: #888;
}

.footer_last_link {
  width: 210px;
}

@media (max-width: 1000px) {
  .footerBottom {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}

@media (max-width: 760px) {
  .footerTop {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.2rem;
  }

  .footerTop > div:last-child {
    grid-row: 1/1;
    grid-column: 1/-2;
  }
}
