.project_card {
  display: flex;
  flex-direction: column;
  aspect-ratio: 1/1;
}

.project_card > p {
  margin-top: 1rem;
}

.project_card_image_wrapper {
  position: relative;
  display: flex;
  height: 100%;
}

.project_card_image_wrapper > div:nth-child(1) {
  width: 100%;
}

.project_card_image_wrapper img {
  width: 100% !important;
  height: 100%;
  min-width: 100%;
  object-fit: cover;
}

.text_wrapper {
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  padding: 0 1.5rem;
  padding-bottom: 4rem;
  opacity: 0;
  transition: all 0.2s ease;
  flex-wrap: wrap;
  word-break: keep-all;
}

.project_card:hover .text_wrapper {
  opacity: 1;
}

@media (max-width: 760px) {
  .text_wrapper {
    align-items: center;
    padding-bottom: 0;
  }
}
@media (max-width: 400px) {
  .text_wrapper {
    padding: 0 1rem;
  }

  .text_wrapper {
    font-size: 12px;
  }
}
